<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.rits.membership.console.iam.infrastructure.db.mapper.UserGroupMapper">
    <resultMap id="BaseResultMap" type="cc.rits.membership.console.iam.infrastructure.db.entity.UserGroup"
               extends="cc.rits.membership.console.iam.infrastructure.db.mapper.base.UserGroupBaseMapper.BaseResultMap"/>
    <resultMap id="BaseUserGroupRoleResultMap"
               type="cc.rits.membership.console.iam.infrastructure.db.entity.UserGroupRole"
               extends="cc.rits.membership.console.iam.infrastructure.db.mapper.base.UserGroupRoleBaseMapper.BaseResultMap"/>

    <resultMap id="UserGroupWithRolesResultMap"
               type="cc.rits.membership.console.iam.infrastructure.db.entity.join.UserGroupWithRoles"
               extends="BaseResultMap">
        <collection property="roles" resultMap="BaseUserGroupRoleResultMap" columnPrefix="role__">
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="UserGroupWithRolesResultMap">
        SELECT DISTINCT user_group.*,

                        user_group_role.user_group_id AS role__user_group_id,
                        user_group_role.role_id       AS role__role_id

        FROM iam.user_group
                 LEFT JOIN user_group_role ON user_group_role.user_group_id = user_group.id
    </select>

    <select id="selectById" resultMap="UserGroupWithRolesResultMap">
        SELECT DISTINCT user_group.*,

                        user_group_role.user_group_id AS role__user_group_id,
                        user_group_role.role_id       AS role__role_id

        FROM iam.user_group
                 LEFT JOIN user_group_role ON user_group_role.user_group_id = user_group.id
        WHERE user_group.id = #{userGroupId}
    </select>

    <select id="selectByIds" resultMap="UserGroupWithRolesResultMap">
        SELECT DISTINCT user_group.*,

        user_group_role.user_group_id AS role__user_group_id,
        user_group_role.role_id AS role__role_id

        FROM iam.user_group
        LEFT JOIN user_group_role ON user_group_role.user_group_id = user_group.id
        WHERE user_group.id IN
        <foreach item="item" open="(" close=")" collection="ids" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
